<section id="home" class="relative min-h-screen flex items-center pt-20">
    <div class="absolute  from-green-900/20 to-transparent"></div>
    
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 w-full relative z-10">
      <div class="grid md:grid-cols-2 gap-12 items-center">
        <div>
          <h1 class="text-5xl md:text-7xl font-bold mb-6 leading-tight dark:text-white">
            GET FIT,<br />
            GET STRONG,<br />
            GET HEALTHY.
          </h1>
          <p class="text-gray-400 text-lg mb-8 max-w-lg dark:text-white">
            Lorem ipsum dolor sit, amet consectetur adipiscing elit. Minus minima modi ad voluptatum od in eam repudiandae possimus nam sequa, nesciunt eos?
          </p>
          
          
        </div>

        <div class="relative">
          <div class="relative">
            <img 
              src="imges/hero photo.jfif" 
              alt="Fitness trainer" 
              class="rounded-3xl w-full h-[600px] "
            />
          </div>
        </div>
      </div>
    </div>

    

    <!-- Decorative elements -->
    <div class="absolute top-1/4 right-10 w-64 h-64 bg-green-500/10 rounded-full blur-3xl"></div>
    <div class="absolute bottom-1/4 left-10 w-96 h-96 bg-green-500/5 rounded-full blur-3xl"></div>



    
  </section>
  <!-- Scroll indicator -->
    <!-- <div class="absolute bottom-10 left-1/2 transform -translate-x-1/2">
      <div class="w-16 h-16 rounded-full border-4 border-green-500 flex items-center justify-center animate-bounce">
        <svg class="w-6 h-6 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
        </svg>
      </div>
    </div> -->

  